[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
telebot = '*'
sqlite3 = '*'
decouple = '*'
loguru = '*'
datetime = '*'
requests = '*'
json = '*'
re = '*'
forex_python.converter = '*'

[dev-packages]

[requires]
python_version = "3.9"
